<div class="container p-0 g-0" (click)="navigateToGame()">
  <div class="row align-items-center g-0">
    <div class="col-3 m-3 g-0" style="aspect-ratio: 1 / 1">
      <app-board class="w-100" [fen]="gameInfo.fen" [isIcon]="true"></app-board>
    </div>
    <div class="col g-0 m-2">
      <h3 class="row g-0 d-flex justify-content-start">
        {{ gameInfo.whitePlayerUsername }} vs.
        {{ gameInfo.blackPlayerUsername }}
      </h3>
      <div class="row g-0" *ngIf="gameInfo.result !== '*'">
        {{
          gameInfo.result === "1/2-1/2"
            ? "TIE"
            : "WINNER: " + (gameInfo.result === "1-0" ? "WHITE" : "BLACK")
        }}
      </div>
      <div class="row g-0" *ngIf="gameInfo.date">
        {{
          gameInfo.date.toDateString() +
            " - " +
            gameInfo.date.toLocaleTimeString()
        }}
      </div>
    </div>
  </div>
</div>
