<div class="container p-0" (click)="navigateToGame()">
  <div class="row align-items-center">
    <div class="col">
      <div
        class="m-3"
        style="width: 100px; background-color: tan; aspect-ratio: 1/1"
      ></div>
    </div>
    <div class="col">
      <div class="row d-flex justify-content-center">
        {{ gameInfo?.whitePlayerUsername }}
      </div>
      <div class="row d-flex justify-content-center">vs</div>
      <div class="row d-flex justify-content-center">
        {{ gameInfo?.blackPlayerUsername }}
      </div>
    </div>
    <div class="col d-flex justify-content-center">Winner?</div>
  </div>
</div>
