<app-navbar></app-navbar>

<div class="container body d-flex justify-content-center">
  <div class="row w-100 h-100 d-flex align-items-center">
    <div class="col-12 col-md-8 col-lg-6">
      <h2 class="row">
        {{ opponentUsername() }}
      </h2>
      <div *ngIf="!loading && game" class="row d-flex justify-content-center">
        <app-board
          [fen]="this.game.fen"
          [playerColor]="playerColor"
          [currentPlayer]="currentPlayer"
          [validMoves]="validMoves"
          [check]="isChecked"
          (moveEmitter)="performMove($event)"
        ></app-board>
      </div>
      <h2 class="row">
        {{ playerUsername() }}
      </h2>
    </div>
    <div class="col-6">test</div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <button class="navbar-toggler ms-2">
    <i class="fa-solid fa-house m-1" style="color: #ffffff"></i>
  </button>
  <div class="navbar-brand">
    <strong> Jacob's Chess </strong>
  </div>
</nav>
