.body {
  height: calc(100% - 56px);
  margin-top: 56px;
  color: #ffffff;
  overflow: scroll;
}

.board-container {
  width: 100%;
  background-color: lightgray;
  border-radius: 5%;
}

.rank {
  height: 12.5%;
  display: flex;
  align-items: flex-end;
}

.file {
  display: flex;
  justify-content: flex-end;
}
