.body {
  height: calc(100% - 112px);
  margin-top: 56px;
  color: #ffffff;
  overflow: scroll;
}

.rounded-pill {
  background-color: rgb(34, 37, 41);
}

.promotion-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 60%;
}
