<app-navbar></app-navbar>
<div class="container body" style="max-width: 80vh">
  <div class="row">
    <h2>
      {{
        playerColor === "b"
          ? game?.whitePlayerUsername
          : game?.blackPlayerUsername
      }}
    </h2>
  </div>
  <div *ngIf="!loading && game">
    <div class="row">
      <div class="col-10 g-0 ms-3 d-flex justify-content-center">
        <div style="width: 100%">
          <app-board
            [fen]="this.game.fen"
            [playerColor]="playerColor"
            [currentPlayer]="currentPlayer"
            [validMoves]="validMoves"
            [check]="isChecked"
            (moveEmitter)="performMove($event)"
          ></app-board>
        </div>
      </div>
      <div class="col-1 g-0">
        <div class="row ms-2 rank" *ngFor="let i of [8, 7, 6, 5, 4, 3, 2, 1]">
          {{ playerColor === "b" ? (i - 9) * -1 : i }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 g-0 ms-3">
        <div class="row g-0">
          <div class="col g-0 file" *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7]">
            {{
              ["a", "b", "c", "d", "e", "f", "g", "h"].at(
                playerColor === "b" ? (i - 7) * -1 : i
              )
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>
      {{
        playerColor === "b"
          ? game?.blackPlayerUsername
          : game?.whitePlayerUsername
      }}
    </h2>
  </div>
</div>
