<div class="container" [ngClass]="{ rotate: playerColor === 'b' }">
  <div class="row" *ngFor="let row of grid; index as y">
    <div
      class="col g-0"
      *ngFor="let col of row; index as x"
      [ngClass]="{ rotate: playerColor === 'b' }"
    >
      <app-tile
        [tile]="col"
        [row]="y"
        [col]="x"
        [rank]="
          (playerColor === 'b' && x === 0) || (playerColor === 'w' && x === 7)
            ? '' + abs(y - 8)
            : ''
        "
        [file]="
          (playerColor === 'b' && y === 0) || (playerColor === 'w' && y === 7)
            ? '' + char(x)
            : ''
        "
        (press)="select($event)"
      ></app-tile>
    </div>
  </div>
</div>
