<div class="body container g-0">
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler ms-2" (click)="toggleSideMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand">
      <strong> Jacob's Chess </strong>
    </div>
  </nav>
  <div
    class="slideout"
    [ngStyle]="{ 'pointer-events': showSideMenu ? 'none' : 'auto' }"
  >
    <app-side-menu [isOpen]="showSideMenu"></app-side-menu>
  </div>
  <div class="row">
    <div class="col d-flex">
      <h2 class="m-3">
        <strong> New Game </strong>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col m-3 d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-secondary w-50"
        (click)="print('play friend')"
      >
        Play a friend
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col m-3 d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-secondary w-50"
        (click)="print('play com')"
      >
        Play a computer
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex">
      <h2 class="m-3">
        <strong> Past Games </strong>
      </h2>
    </div>
  </div>
  <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="row">
    <div class="col d-flex justify-content-center m-3">
      <app-board></app-board>
    </div>
  </div>
</div>
