<div class="body container g-0 d-flex justify-content-center">
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler ms-2" (click)="toggleSideMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand">
      <strong> Jacob's Chess </strong>
    </div>
  </nav>
  <div
    class="slideout"
    [ngStyle]="{ 'pointer-events': showSideMenu ? 'auto' : 'none' }"
    *ngIf="showSideMenu"
  >
    <app-side-menu [isOpen]="showSideMenu"></app-side-menu>
  </div>
  <div
    *ngIf="showPopup"
    class="popup d-flex justify-content-center align-items-center"
  >
    <app-new-game-popup (closePopup$)="togglePopup()"></app-new-game-popup>
  </div>
  <div class="col col-md-8 col-lg-6">
    <div class="row">
      <div class="col d-flex">
        <h2 class="m-3">
          <strong> New Game </strong>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col m-3 d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-secondary w-50"
          (click)="togglePopup()"
        >
          Play a friend
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col m-3 d-flex justify-content-center">
        <button type="button" class="btn btn-secondary w-50">
          Play a computer
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex">
        <h2 class="m-3">
          <strong> Current Games </strong>
        </h2>
      </div>
    </div>
    <div *ngFor="let game of gameService.currentGames" class="row">
      <div class="col d-flex justify-content-center m-3">
        <app-game-card [gameInfo]="game" style="width: 100%"></app-game-card>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex">
        <h2 class="m-3">
          <strong> Past Games </strong>
        </h2>
      </div>
    </div>
    <div *ngFor="let game of gameService.pastGames" class="row">
      <div class="col d-flex justify-content-center m-3">
        <app-game-card [gameInfo]="game" style="width: 100%"></app-game-card>
      </div>
    </div>
  </div>
</div>
