<div class="container card mb-2">
  <div class="col">
    <div class="row m-1">
      <div class="col g-0">
        {{ friendInfo?.username }}
      </div>
      <div
        *ngIf="friendInfo?.pending && !friendInfo?.invitation"
        class="col g-0 mb-0 d-flex justify-content-end align-items-center"
      >
        <span
          class="badge bg-secondary rounded-pill d-flex align-items-center"
          style="height: 80%"
        >
          Pending
        </span>
      </div>
      <div
        *ngIf="friendInfo?.invitation"
        class="col g-0 mb-0 d-flex justify-content-end align-items-center"
      >
        <span
          class="badge bg-danger rounded-pill d-flex align-items-center me-2 pill-btn"
          style="height: 80%"
          (click)="rejectFriendRequest()"
        >
          Delete
        </span>
        <span
          class="badge bg-primary rounded-pill d-flex align-items-center pill-btn"
          style="height: 80%"
          (click)="approveFriendRequest()"
        >
          Add
        </span>
      </div>
      <div
        *ngIf="!friendInfo?.pending && !friendInfo?.invitation"
        class="col g-0 mb-0 d-flex justify-content-end align-items-center"
      >
        <span
          *ngIf="friendInfo?.onlineStatus?.toString() === 'ONLINE'"
          class="badge bg-primary rounded-pill d-flex align-items-center"
          >Online</span
        >
        <span
          *ngIf="friendInfo?.onlineStatus?.toString() === 'PLAYING'"
          class="badge bg-info rounded-pill d-flex align-items-center pill-btn"
          (click)="watchGame()"
          >Playing</span
        >
        <span
          *ngIf="friendInfo?.onlineStatus?.toString() === 'OFFLINE'"
          class="badge bg-secondary rounded-pill d-flex align-items-center pill-btn"
          >Offline</span
        >
      </div>
    </div>
  </div>
</div>
