<div class="body container g-0">
  <div
    class="row d-flex align-items-center justify-content-center"
    style="height: 100%"
  >
    <div class="d-flex align-items-center card">
      <h1 class="align-self-center pt-4 mb-4">
        <strong> Register </strong>
      </h1>
      <form
        #registerForm="ngForm"
        class="mb-4"
        (ngSubmit)="register(registerForm.value)"
      >
        <div class="form-floating mb-4">
          <input
            type="email"
            id="userEmail"
            class="form-control"
            placeholder="example@email.com"
            name="email"
            ngModel
          />
          <label for="userEmail">Email</label>
        </div>
        <div class="form-floating mb-4">
          <input
            type="password"
            id="userPass"
            class="form-control"
            placeholder="password"
            name="password"
            ngModel
          />
          <label for="userPass">Password</label>
        </div>
        <div class="form-floating mb-4">
          <input
            type="password"
            id="userConfirmPass"
            class="form-control"
            placeholder="password"
            name="confirm"
            ngModel
          />
          <label for="userConfirmPass">Confirm Password</label>
        </div>
        <button
          type="submit"
          class="btn btn-secondary w-100 d-flex justify-content-center align-items-center"
        >
          <h6 class="m-2">
            <strong> Submit </strong>
          </h6>
        </button>
      </form>
      <p>
        <a routerLink="/login"> Already have an account </a>
      </p>
    </div>
  </div>
</div>
