.body {
  height: calc(100% - 56px);
  margin-top: 56px;
  color: #ffffff;
  overflow: scroll;
}

.rank {
  height: 12.5%;
  display: flex;
  align-items: end;
}

.file {
  display: flex;
  justify-content: end;
}
