<app-navbar></app-navbar>
<div class="container body" style="max-width: 80vh">
  <div class="row">
    <h2>
      {{
        playerColor === "b"
          ? game?.whitePlayerUsername
          : game?.blackPlayerUsername
      }}
    </h2>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div style="width: 100%">
        <app-board
          *ngIf="!loading && game"
          [fen]="this.game.FEN"
          [playerColor]="playerColor"
          [currentPlayer]="currentPlayer"
          [validMoves]="validMoves"
          (moveEmitter)="performMove($event)"
        ></app-board>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>
      {{
        playerColor === "b"
          ? game?.blackPlayerUsername
          : game?.whitePlayerUsername
      }}
    </h2>
  </div>
</div>
