<div class="open-close-container" [@openClose]="isOpen ? 'left' : 'right'">
  <div class="row">
    <div class="col d-flex justify-content-start">
      <h5 class="mt-3 ms-3">
        <strong> Profile </strong>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="mt-3 ms-3">JGorton23</h3>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-start">
      <h5 class="mt-3 ms-3">
        <strong> Account </strong>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col mt-3 ms-3">
      <label for="email">Email</label>
      <input type="email" disabled="true" />
    </div>
  </div>
  <div class="row">
    <div class="col-3 mt-3 ms-3">
      <label for="pass">Password</label>
      <input type="password" disabled="true" />
    </div>
  </div>
  <i class="fa-solid fa-pencil"></i>
</div>
