div {
  aspect-ratio: 1 / 1;
  min-width: 25px;
  padding: 0;
  margin: 0;
}

div.rankAndFile {
  background-color: rgb(34, 37, 41);
  font-weight: bold;
}

div.br {
  border-radius: 0% 0% 100% 0%;
}

div.bl {
  border-radius: 0% 0% 0% 100%;
}

div.tl {
  border-radius: 100% 0% 0% 0%;
}

div.tr {
  border-radius: 0% 100% 0% 0%;
}

div.icon {
  min-width: 5px;
}

div.even:not(.rankAndFile) {
  background-color: tan;
}

div.odd:not(.rankAndFile) {
  background-color: brown;
}

div.active {
  filter: hue-rotate(60deg);
}

div.possible {
  border: 0.2em solid black;
}

div.checked {
  border: 0.2em solid red;
}

div span.b {
  content: url(../../../assets/blackBishop.png);
}

div span.B {
  content: url(../../../assets/whiteBishop.png);
}

div span.p {
  content: url(../../../assets/blackPawn.png);
}

div span.P {
  content: url(../../../assets/pawn.png);
}

div span.r {
  content: url(../../../assets/blackRook.png);
}

div span.R {
  content: url(../../../assets/whiteRook.png);
}

div span.N {
  content: url(../../../assets/whiteKnight.png);
}

div span.n {
  content: url(../../../assets/blackKnight.png);
}

div span.Q {
  content: url(../../../assets/whiteQueen.png);
}

div span.q {
  content: url(../../../assets/blackQueen.png);
}

div span.K {
  content: url(../../../assets/whiteKing.png);
}

div span.k {
  content: url(../../../assets/blackKing.png);
}

span {
  max-height: 80%;
  max-width: 80%;
}
