<div
  class="d-flex justify-content-center align-items-center"
  style="position: relative"
  [ngClass]="{
    even: (row + col) % 2 === 0,
    odd: (row + col) % 2 === 1,
    active: tile.selected,
    possible: tile.possible
  }"
  (click)="select()"
>
  <span [class]="tile.piece"></span>
  <!-- <div
    style="
      width: 100%;
      height: 100%;
      position: absolute;
      display: grid;
      grid-template-columns: 5% 20% 50% 20% 5%;
      grid-template-rows: 5% 20% 40% 20% [fifth] 5%;
    "
  >
    <p style="grid-column: 2 / 3; grid-row: 4 / fifth">{{ file }}</p>
    <p style="grid-column: 4 / 5; grid-row: 2 / 3">{{ rank }}</p>
  </div> -->
  <div
    class="container d-flex"
    style="width: 100%; height: 100%; position: absolute"
  >
    <div class="col">
      <div class="row w-100 h-50 d-flex justify-content-end">a</div>
      <div class="row w-50 d-flex align-items-end ms-1">b</div>
    </div>
  </div>
</div>
